*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
composeApp/google-services.json
composeApp/client_secret_desktop.json
server/src/main/resources/ktor-firebase-auth-firebase-adminsdk.json
composeApp/settings_preferences.preferences_pb
composeApp/tokens/StoredCredential
.env
ai-agent/.env